@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Prata", serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a.active{
  background-color: black;
  color: white;
}

@media screen and (min-width:640px){
  a.active{
    background-color: transparent;
    color: black;
  }
}